/* 마이페이지 */
.mypage-profile {width: 100%; height: 250px; background-color: #6E95D0; display: flex; align-items: center;}
.mypage-profile-img {width: 180px; height: 180px; border-radius: 50%; background-color: #ffffff; margin-right: 20px;}
.mypage-profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mypage-profile-badge {
  background-color: #081E5A;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
}

.mypage-profile-name {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
